{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Teable App",
    "description": "Manage Data as easy as drink a cup of tea"
  },
  "servers": [
    {
      "url": "https://app.teable.io/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/table/{tableId}/record/{recordId}": {
      "get": {
        "summary": "Get record",
        "description": "Retrieve a single record by its ID with options to specify field projections and output format.",
        "tags": [
          "record"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "tableId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "recordId",
            "in": "path"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "If you want to get only some fields, pass in this parameter, otherwise all visible fields will be obtained, The parameter value depends on the specified fieldKeyType to determine whether it is name or id"
            },
            "required": false,
            "name": "projection",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "text"
              ],
              "default": "json",
              "description": "Define the return value formate, you can set it to text if you only need simple string value"
            },
            "required": false,
            "name": "cellFormat",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ],
              "default": "name",
              "description": "Define the key type of record.fields[key], You can click \"systemInfo\" in the field edit box to get fieldId or enter the table design screen with all the field details"
            },
            "required": false,
            "name": "fieldKeyType",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The record id."
                    },
                    "name": {
                      "type": "string",
                      "description": "primary field value"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Objects with a fields key mapping fieldId or field name to value for that field."
                    },
                    "autoNumber": {
                      "type": "number",
                      "description": "Auto number, a unique identifier for each record"
                    },
                    "createdTime": {
                      "type": "string",
                      "description": "Created time, date ISO string (new Date().toISOString)."
                    },
                    "lastModifiedTime": {
                      "type": "string",
                      "description": "Last modified time, date ISO string (new Date().toISOString)."
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "Created by, user name"
                    },
                    "lastModifiedBy": {
                      "type": "string",
                      "description": "Last modified by, user name"
                    }
                  },
                  "required": [
                    "id",
                    "fields"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getGetRecord"
      },
      "patch": {
        "summary": "Update record",
        "description": "Update a single record by its ID with support for field value typecast and record reordering.",
        "tags": [
          "record"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "tableId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "recordId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fieldKeyType": {
                    "type": "string",
                    "enum": [
                      "id",
                      "name"
                    ],
                    "default": "name",
                    "description": "Define the key type of record.fields[key], You can click \"systemInfo\" in the field edit box to get fieldId or enter the table design screen with all the field details"
                  },
                  "typecast": {
                    "type": "boolean",
                    "description": "Automatic data conversion from cellValues if the typecast parameter is passed in. Automatic conversion is disabled by default to ensure data integrity, but it may be helpful for integrating with 3rd party data sources."
                  },
                  "record": {
                    "type": "object",
                    "properties": {
                      "fields": {
                        "type": "object",
                        "additionalProperties": {
                          "nullable": true
                        },
                        "description": "Objects with a fields key mapping fieldId or field name to value for that field."
                      }
                    },
                    "required": [
                      "fields"
                    ]
                  },
                  "order": {
                    "type": "object",
                    "properties": {
                      "viewId": {
                        "type": "string",
                        "description": "You can only specify order in one view when create record (will create a order index automatically)"
                      },
                      "anchorId": {
                        "type": "string",
                        "description": "The record id to anchor to"
                      },
                      "position": {
                        "type": "string",
                        "enum": [
                          "before",
                          "after"
                        ]
                      }
                    },
                    "required": [
                      "viewId",
                      "anchorId",
                      "position"
                    ],
                    "description": "Where this record to insert to (Optional)"
                  }
                },
                "required": [
                  "record"
                ],
                "description": "Update record by id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns record data after update.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The record id."
                    },
                    "name": {
                      "type": "string",
                      "description": "primary field value"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Objects with a fields key mapping fieldId or field name to value for that field."
                    },
                    "autoNumber": {
                      "type": "number",
                      "description": "Auto number, a unique identifier for each record"
                    },
                    "createdTime": {
                      "type": "string",
                      "description": "Created time, date ISO string (new Date().toISOString)."
                    },
                    "lastModifiedTime": {
                      "type": "string",
                      "description": "Last modified time, date ISO string (new Date().toISOString)."
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "Created by, user name"
                    },
                    "lastModifiedBy": {
                      "type": "string",
                      "description": "Last modified by, user name"
                    }
                  },
                  "required": [
                    "id",
                    "fields"
                  ]
                }
              }
            }
          }
        },
        "operationId": "modifyUpdateRecord"
      },
      "delete": {
        "summary": "Delete record",
        "description": "Permanently delete a single record by its ID.",
        "tags": [
          "record"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "tableId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "recordId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully"
          }
        },
        "operationId": "deleteDeleteRecord"
      },
      "post": {
        "summary": "Duplicate record",
        "description": "Create a copy of an existing record with optional custom positioning in the view.",
        "tags": [
          "record"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "tableId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "recordId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "viewId": {
                    "type": "string",
                    "description": "You can only specify order in one view when create record (will create a order index automatically)"
                  },
                  "anchorId": {
                    "type": "string",
                    "description": "The record id to anchor to"
                  },
                  "position": {
                    "type": "string",
                    "enum": [
                      "before",
                      "after"
                    ]
                  }
                },
                "required": [
                  "viewId",
                  "anchorId",
                  "position"
                ],
                "description": "Where this record to insert to (Optional)"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful duplicate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The record id."
                          },
                          "name": {
                            "type": "string",
                            "description": "primary field value"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": {
                              "nullable": true
                            },
                            "description": "Objects with a fields key mapping fieldId or field name to value for that field."
                          },
                          "autoNumber": {
                            "type": "number",
                            "description": "Auto number, a unique identifier for each record"
                          },
                          "createdTime": {
                            "type": "string",
                            "description": "Created time, date ISO string (new Date().toISOString)."
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "description": "Last modified time, date ISO string (new Date().toISOString)."
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "Created by, user name"
                          },
                          "lastModifiedBy": {
                            "type": "string",
                            "description": "Last modified by, user name"
                          }
                        },
                        "required": [
                          "id",
                          "fields"
                        ]
                      },
                      "description": "Array of record objects ",
                      "example": [
                        {
                          "id": "recXXXXXXX",
                          "fields": {
                            "single line text": "text value"
                          }
                        }
                      ]
                    },
                    "extra": {
                      "type": "object",
                      "properties": {
                        "groupPoints": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "number",
                                    "enum": [
                                      0
                                    ]
                                  },
                                  "depth": {
                                    "type": "number",
                                    "maximum": 2,
                                    "minimum": 0
                                  },
                                  "value": {
                                    "nullable": true
                                  },
                                  "isCollapsed": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "id",
                                  "type",
                                  "depth",
                                  "isCollapsed"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  "count": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "type",
                                  "count"
                                ]
                              }
                            ]
                          },
                          "description": "Group points for the view"
                        }
                      }
                    }
                  },
                  "required": [
                    "records"
                  ]
                }
              }
            }
          }
        },
        "operationId": "createDuplicateRecord"
      }
    },
    "/table/{tableId}/record": {
      "get": {
        "summary": "List records",
        "description": "Retrieve a list of records with support for filtering, sorting, grouping, and pagination. The response includes record data and optional group information.",
        "tags": [
          "record"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "tableId",
            "in": "path"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "If you want to get only some fields, pass in this parameter, otherwise all visible fields will be obtained, The parameter value depends on the specified fieldKeyType to determine whether it is name or id"
            },
            "required": false,
            "name": "projection",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "text"
              ],
              "default": "json",
              "description": "Define the return value formate, you can set it to text if you only need simple string value"
            },
            "required": false,
            "name": "cellFormat",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ],
              "default": "name",
              "description": "Define the key type of record.fields[key], You can click \"systemInfo\" in the field edit box to get fieldId or enter the table design screen with all the field details"
            },
            "required": false,
            "name": "fieldKeyType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Set the view you want to fetch, default is first view. result will filter and sort by view options.",
              "example": "viwXXXXXXX"
            },
            "required": false,
            "name": "viewId",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "boolean"
                }
              ],
              "description": "When a viewId is specified, configure this to true will ignore the view's filter, sort, etc"
            },
            "required": false,
            "name": "ignoreViewQuery",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "{field} = 'Completed' AND {field} > 5",
              "deprecated": true
            },
            "required": false,
            "name": "filterByTql",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "A filter object used to filter results. It allows complex query conditions based on fields, operators, and values."
            },
            "required": false,
            "name": "filter",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 1,
                  "maxItems": 1
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 2,
                  "maxItems": 2
                },
                {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    ]
                  },
                  "minItems": 3,
                  "maxItems": 3
                }
              ],
              "default": [
                "searchValue",
                "fieldIdOrName",
                false
              ],
              "description": "Search for records that match the specified field and value"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 2,
                  "maxItems": 2
                },
                {
                  "type": "string"
                }
              ],
              "description": "Filter out the records that can be selected by a given link cell from the relational table. For example, if the specified field is one to many or one to one relationship, recordId for which the field has already been selected will not appear.",
              "example": [
                "fldXXXXXXX",
                "recXXXXXXX"
              ]
            },
            "required": false,
            "name": "filterLinkCellCandidate",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 2,
                  "maxItems": 2
                },
                {
                  "type": "string"
                }
              ],
              "description": "Filter out selected records based on this link cell from the relational table. Note that viewId, filter, and orderBy will not take effect in this case because selected records has it own order. Ignoring recordId gets all the selected records for the field",
              "example": [
                "fldXXXXXXX",
                "recXXXXXXX"
              ]
            },
            "required": false,
            "name": "filterLinkCellSelected",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter selected records by record ids"
            },
            "required": false,
            "name": "selectedRecordIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "An array of sort objects that specifies how the records should be ordered."
            },
            "required": false,
            "name": "orderBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "An array of group objects that specifies how the records should be grouped."
            },
            "required": false,
            "name": "groupBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "An array of group ids that specifies which groups are collapsed"
            },
            "required": false,
            "name": "collapsedGroupIds",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "description": "The record count you want to take, maximum is 2000",
              "example": 100
            },
            "required": false,
            "name": "take",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "description": "The records count you want to skip",
              "example": 0
            },
            "required": false,
            "name": "skip",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The record id."
                          },
                          "name": {
                            "type": "string",
                            "description": "primary field value"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": {
                              "nullable": true
                            },
                            "description": "Objects with a fields key mapping fieldId or field name to value for that field."
                          },
                          "autoNumber": {
                            "type": "number",
                            "description": "Auto number, a unique identifier for each record"
                          },
                          "createdTime": {
                            "type": "string",
                            "description": "Created time, date ISO string (new Date().toISOString)."
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "description": "Last modified time, date ISO string (new Date().toISOString)."
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "Created by, user name"
                          },
                          "lastModifiedBy": {
                            "type": "string",
                            "description": "Last modified by, user name"
                          }
                        },
                        "required": [
                          "id",
                          "fields"
                        ]
                      },
                      "description": "Array of record objects ",
                      "example": [
                        {
                          "id": "recXXXXXXX",
                          "fields": {
                            "single line text": "text value"
                          }
                        }
                      ]
                    },
                    "offset": {
                      "type": "string",
                      "description": "If more records exist, the response includes an offset. Use this offset for fetching the next page of records."
                    },
                    "extra": {
                      "type": "object",
                      "properties": {
                        "groupPoints": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "number",
                                    "enum": [
                                      0
                                    ]
                                  },
                                  "depth": {
                                    "type": "number",
                                    "maximum": 2,
                                    "minimum": 0
                                  },
                                  "value": {
                                    "nullable": true
                                  },
                                  "isCollapsed": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "id",
                                  "type",
                                  "depth",
                                  "isCollapsed"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  "count": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "type",
                                  "count"
                                ]
                              }
                            ]
                          },
                          "description": "Group points for the view"
                        }
                      }
                    }
                  },
                  "required": [
                    "records"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getListRecords"
      },
      "post": {
        "summary": "Create records",
        "description": "Create one or multiple records with support for field value typecast and custom record ordering.",
        "tags": [
          "record"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "tableId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fieldKeyType": {
                    "type": "string",
                    "enum": [
                      "id",
                      "name"
                    ],
                    "default": "name",
                    "description": "Define the key type of record.fields[key], You can click \"systemInfo\" in the field edit box to get fieldId or enter the table design screen with all the field details"
                  },
                  "typecast": {
                    "type": "boolean",
                    "description": "Automatic data conversion from cellValues if the typecast parameter is passed in. Automatic conversion is disabled by default to ensure data integrity, but it may be helpful for integrating with 3rd party data sources."
                  },
                  "order": {
                    "type": "object",
                    "properties": {
                      "viewId": {
                        "type": "string",
                        "description": "You can only specify order in one view when create record (will create a order index automatically)"
                      },
                      "anchorId": {
                        "type": "string",
                        "description": "The record id to anchor to"
                      },
                      "position": {
                        "type": "string",
                        "enum": [
                          "before",
                          "after"
                        ]
                      }
                    },
                    "required": [
                      "viewId",
                      "anchorId",
                      "position"
                    ],
                    "description": "Where this record to insert to (Optional)"
                  },
                  "records": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          },
                          "description": "Objects with a fields key mapping fieldId or field name to value for that field."
                        }
                      },
                      "required": [
                        "fields"
                      ]
                    },
                    "description": "Array of record objects ",
                    "example": [
                      {
                        "fields": {
                          "single line text": "text value"
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "records"
                ],
                "description": "Multiple Create records"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns data about the records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The record id."
                          },
                          "name": {
                            "type": "string",
                            "description": "primary field value"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": {
                              "nullable": true
                            },
                            "description": "Objects with a fields key mapping fieldId or field name to value for that field."
                          },
                          "autoNumber": {
                            "type": "number",
                            "description": "Auto number, a unique identifier for each record"
                          },
                          "createdTime": {
                            "type": "string",
                            "description": "Created time, date ISO string (new Date().toISOString)."
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "description": "Last modified time, date ISO string (new Date().toISOString)."
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "Created by, user name"
                          },
                          "lastModifiedBy": {
                            "type": "string",
                            "description": "Last modified by, user name"
                          }
                        },
                        "required": [
                          "id",
                          "fields"
                        ]
                      },
                      "description": "Array of record objects ",
                      "example": [
                        {
                          "id": "recXXXXXXX",
                          "fields": {
                            "single line text": "text value"
                          }
                        }
                      ]
                    },
                    "extra": {
                      "type": "object",
                      "properties": {
                        "groupPoints": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "number",
                                    "enum": [
                                      0
                                    ]
                                  },
                                  "depth": {
                                    "type": "number",
                                    "maximum": 2,
                                    "minimum": 0
                                  },
                                  "value": {
                                    "nullable": true
                                  },
                                  "isCollapsed": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "id",
                                  "type",
                                  "depth",
                                  "isCollapsed"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  "count": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "type",
                                  "count"
                                ]
                              }
                            ]
                          },
                          "description": "Group points for the view"
                        }
                      }
                    }
                  },
                  "required": [
                    "records"
                  ]
                }
              }
            }
          }
        },
        "operationId": "createCreateRecords"
      },
      "patch": {
        "summary": "Update multiple records",
        "description": "Update multiple records in a single request with support for field value typecast and record reordering.",
        "tags": [
          "record"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "tableId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fieldKeyType": {
                    "type": "string",
                    "enum": [
                      "id",
                      "name"
                    ],
                    "default": "name",
                    "description": "Define the key type of record.fields[key], You can click \"systemInfo\" in the field edit box to get fieldId or enter the table design screen with all the field details"
                  },
                  "typecast": {
                    "type": "boolean",
                    "description": "Automatic data conversion from cellValues if the typecast parameter is passed in. Automatic conversion is disabled by default to ensure data integrity, but it may be helpful for integrating with 3rd party data sources."
                  },
                  "records": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          },
                          "description": "Objects with a fields key mapping fieldId or field name to value for that field."
                        }
                      },
                      "required": [
                        "id",
                        "fields"
                      ]
                    }
                  },
                  "order": {
                    "type": "object",
                    "properties": {
                      "viewId": {
                        "type": "string",
                        "description": "You can only specify order in one view when create record (will create a order index automatically)"
                      },
                      "anchorId": {
                        "type": "string",
                        "description": "The record id to anchor to"
                      },
                      "position": {
                        "type": "string",
                        "enum": [
                          "before",
                          "after"
                        ]
                      }
                    },
                    "required": [
                      "viewId",
                      "anchorId",
                      "position"
                    ],
                    "description": "Where this record to insert to (Optional)"
                  }
                },
                "required": [
                  "records"
                ],
                "description": "Multiple Update records"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the records data after update.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The record id."
                      },
                      "name": {
                        "type": "string",
                        "description": "primary field value"
                      },
                      "fields": {
                        "type": "object",
                        "additionalProperties": {
                          "nullable": true
                        },
                        "description": "Objects with a fields key mapping fieldId or field name to value for that field."
                      },
                      "autoNumber": {
                        "type": "number",
                        "description": "Auto number, a unique identifier for each record"
                      },
                      "createdTime": {
                        "type": "string",
                        "description": "Created time, date ISO string (new Date().toISOString)."
                      },
                      "lastModifiedTime": {
                        "type": "string",
                        "description": "Last modified time, date ISO string (new Date().toISOString)."
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Created by, user name"
                      },
                      "lastModifiedBy": {
                        "type": "string",
                        "description": "Last modified by, user name"
                      }
                    },
                    "required": [
                      "id",
                      "fields"
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "modifyUpdateMultipleRecords"
      },
      "delete": {
        "summary": "Delete records",
        "description": "Permanently delete multiple records by their IDs in a single request.",
        "tags": [
          "record"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "tableId",
            "in": "path"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": true,
            "name": "recordIds",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully"
          }
        },
        "operationId": "deleteDeleteRecords"
      }
    },
    "/space": {
      "post": {
        "description": "Create a space",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns information about a successfully created space.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name"
                  ]
                }
              }
            }
          }
        },
        "operationId": "createSpace"
      },
      "get": {
        "summary": "Get space list",
        "description": "Get space list by query",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of space.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "role": {
                        "type": "string",
                        "enum": [
                          "owner",
                          "creator",
                          "editor",
                          "commenter",
                          "viewer"
                        ]
                      },
                      "organization": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "role"
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "getGetSpaceList"
      }
    },
    "/space/{spaceId}": {
      "delete": {
        "description": "Delete a space by spaceId",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully"
          }
        },
        "operationId": "deleteSpace"
      },
      "get": {
        "description": "Get a space by spaceId",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns information about a space.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "creator",
                        "editor",
                        "commenter",
                        "viewer"
                      ]
                    },
                    "organization": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "role"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getSpace"
      },
      "patch": {
        "description": "Update a space info",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns information about a successfully updated space.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name"
                  ]
                }
              }
            }
          }
        },
        "operationId": "modifySpace"
      }
    },
    "/space/{spaceId}/invitation/link": {
      "get": {
        "description": "List a invitation link to your",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response, return invitation information list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "invitationId": {
                        "type": "string"
                      },
                      "role": {
                        "type": "string",
                        "enum": [
                          "owner",
                          "creator",
                          "editor",
                          "commenter",
                          "viewer"
                        ]
                      },
                      "inviteUrl": {
                        "type": "string"
                      },
                      "invitationCode": {
                        "type": "string"
                      },
                      "createdBy": {
                        "type": "string"
                      },
                      "createdTime": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "invitationId",
                      "role",
                      "inviteUrl",
                      "invitationCode",
                      "createdBy",
                      "createdTime"
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "getSpace1"
      },
      "post": {
        "description": "Create a invitation link to your",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "creator",
                      "editor",
                      "commenter",
                      "viewer"
                    ]
                  }
                },
                "required": [
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response, return the ID of the invitation link.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invitationId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "creator",
                        "editor",
                        "commenter",
                        "viewer"
                      ]
                    },
                    "inviteUrl": {
                      "type": "string"
                    },
                    "invitationCode": {
                      "type": "string"
                    },
                    "createdBy": {
                      "type": "string"
                    },
                    "createdTime": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "invitationId",
                    "role",
                    "inviteUrl",
                    "invitationCode",
                    "createdBy",
                    "createdTime"
                  ]
                }
              }
            }
          }
        },
        "operationId": "createSpace1"
      }
    },
    "/space/{spaceId}/invitation/link/{invitationId}": {
      "delete": {
        "description": "Delete a invitation link to your",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "invitationId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "operationId": "deleteSpace1"
      },
      "patch": {
        "description": "Update a invitation link to your",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "invitationId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "creator",
                      "editor",
                      "commenter",
                      "viewer"
                    ]
                  }
                },
                "required": [
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invitationId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "creator",
                        "editor",
                        "commenter",
                        "viewer"
                      ]
                    }
                  },
                  "required": [
                    "invitationId",
                    "role"
                  ]
                }
              }
            }
          }
        },
        "operationId": "modifySpace1"
      }
    },
    "/space/{spaceId}/invitation/email": {
      "post": {
        "description": "Send invitations by e-mail",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "minItems": 1
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "creator",
                      "editor",
                      "commenter",
                      "viewer"
                    ]
                  }
                },
                "required": [
                  "emails",
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response, return invitation information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "invitationId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "invitationId"
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "createSpace2"
      }
    },
    "/space/{spaceId}/collaborators": {
      "get": {
        "description": "List a space collaborator",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "required": false,
            "name": "includeSystem",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "required": false,
            "name": "includeBase",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true
            },
            "required": false,
            "name": "skip",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true
            },
            "required": false,
            "name": "take",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "department"
              ]
            },
            "required": false,
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response, return space collaborator list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collaborators": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "userId": {
                                "type": "string"
                              },
                              "userName": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string",
                                "enum": [
                                  "owner",
                                  "creator",
                                  "editor",
                                  "commenter",
                                  "viewer"
                                ]
                              },
                              "avatar": {
                                "type": "string",
                                "nullable": true
                              },
                              "createdTime": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "user"
                                ]
                              },
                              "resourceType": {
                                "type": "string",
                                "enum": [
                                  "space",
                                  "base"
                                ]
                              },
                              "isSystem": {
                                "type": "boolean"
                              },
                              "base": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ]
                              }
                            },
                            "required": [
                              "userId",
                              "userName",
                              "email",
                              "role",
                              "avatar",
                              "createdTime",
                              "type",
                              "resourceType"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "departmentId": {
                                "type": "string"
                              },
                              "departmentName": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string",
                                "enum": [
                                  "owner",
                                  "creator",
                                  "editor",
                                  "commenter",
                                  "viewer"
                                ]
                              },
                              "createdTime": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "department"
                                ]
                              },
                              "resourceType": {
                                "type": "string",
                                "enum": [
                                  "space",
                                  "base"
                                ]
                              },
                              "base": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ]
                              }
                            },
                            "required": [
                              "departmentId",
                              "departmentName",
                              "role",
                              "createdTime",
                              "type",
                              "resourceType"
                            ]
                          }
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "collaborators",
                    "total"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getSpace2"
      },
      "delete": {
        "description": "Delete a collaborator",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "principalId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "department"
              ]
            },
            "required": true,
            "name": "principalType",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "operationId": "deleteSpace2"
      },
      "patch": {
        "description": "Update a space collaborator",
        "tags": [
          "space"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "invitationId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "spaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "principalId": {
                    "type": "string"
                  },
                  "principalType": {
                    "type": "string",
                    "enum": [
                      "user",
                      "department"
                    ]
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "creator",
                      "editor",
                      "commenter",
                      "viewer"
                    ]
                  }
                },
                "required": [
                  "principalId",
                  "principalType",
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "operationId": "modifySpace2"
      }
    },
    "/base": {
      "post": {
        "description": "Create a base",
        "tags": [
          "base"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "spaceId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  }
                },
                "required": [
                  "spaceId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns information about a successfully created base.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "spaceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "spaceId"
                  ]
                }
              }
            }
          }
        },
        "operationId": "createBase"
      }
    },
    "/base/{baseId}": {
      "delete": {
        "description": "Delete a base by baseId",
        "tags": [
          "base"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "baseId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully"
          }
        },
        "operationId": "deleteBase"
      },
      "get": {
        "description": "Get a base by baseId",
        "tags": [
          "base"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "baseId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns information about a base.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "spaceId": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string",
                      "nullable": true
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "owner",
                        "creator",
                        "editor",
                        "commenter",
                        "viewer"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "spaceId",
                    "icon",
                    "role"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getBase"
      },
      "patch": {
        "description": "Update a base info",
        "tags": [
          "base"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "baseId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns information about a successfully updated base.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spaceId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "spaceId",
                    "name"
                  ]
                }
              }
            }
          }
        },
        "operationId": "modifyBase"
      }
    },
    "/table/{tableId}/view/{viewId}/order": {
      "put": {
        "description": "Update view order",
        "tags": [
          "view"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "tableId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "viewId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "anchorId": {
                    "type": "string"
                  },
                  "position": {
                    "type": "string",
                    "enum": [
                      "before",
                      "after"
                    ]
                  }
                },
                "required": [
                  "anchorId",
                  "position"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully update."
          }
        },
        "operationId": "updateView"
      }
    },
    "/base/{baseId}/order": {
      "put": {
        "description": "Update base order",
        "tags": [
          "base"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "baseId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "anchorId": {
                    "type": "string"
                  },
                  "position": {
                    "type": "string",
                    "enum": [
                      "before",
                      "after"
                    ]
                  }
                },
                "required": [
                  "anchorId",
                  "position"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully update."
          }
        },
        "operationId": "updateBase"
      }
    },
    "/base/access/all": {
      "get": {
        "description": "Get base list by query",
        "tags": [
          "base"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of base.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "spaceId": {
                        "type": "string"
                      },
                      "icon": {
                        "type": "string",
                        "nullable": true
                      },
                      "role": {
                        "type": "string",
                        "enum": [
                          "owner",
                          "creator",
                          "editor",
                          "commenter",
                          "viewer"
                        ]
                      },
                      "collaboratorType": {
                        "type": "string",
                        "enum": [
                          "space",
                          "base"
                        ]
                      },
                      "isUnrestricted": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "spaceId",
                      "icon",
                      "role"
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "getBase1"
      }
    },
    "/base/{baseId}/collaborators": {
      "get": {
        "description": "List a base collaborator",
        "tags": [
          "base"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "baseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "required": false,
            "name": "includeSystem",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true
            },
            "required": false,
            "name": "skip",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true
            },
            "required": false,
            "name": "take",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "department"
              ]
            },
            "required": false,
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response, return base collaborator list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collaborators": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "userId": {
                                "type": "string"
                              },
                              "userName": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string",
                                "enum": [
                                  "owner",
                                  "creator",
                                  "editor",
                                  "commenter",
                                  "viewer"
                                ]
                              },
                              "avatar": {
                                "type": "string",
                                "nullable": true
                              },
                              "createdTime": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "user"
                                ]
                              },
                              "resourceType": {
                                "type": "string",
                                "enum": [
                                  "space",
                                  "base"
                                ]
                              },
                              "isSystem": {
                                "type": "boolean"
                              },
                              "base": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ]
                              }
                            },
                            "required": [
                              "userId",
                              "userName",
                              "email",
                              "role",
                              "avatar",
                              "createdTime",
                              "type",
                              "resourceType"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "departmentId": {
                                "type": "string"
                              },
                              "departmentName": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string",
                                "enum": [
                                  "owner",
                                  "creator",
                                  "editor",
                                  "commenter",
                                  "viewer"
                                ]
                              },
                              "createdTime": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "department"
                                ]
                              },
                              "resourceType": {
                                "type": "string",
                                "enum": [
                                  "space",
                                  "base"
                                ]
                              },
                              "base": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ]
                              }
                            },
                            "required": [
                              "departmentId",
                              "departmentName",
                              "role",
                              "createdTime",
                              "type",
                              "resourceType"
                            ]
                          }
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "collaborators",
                    "total"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getBase2"
      },
      "delete": {
        "description": "Delete a base collaborators",
        "tags": [
          "base"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "baseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "principalId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "department"
              ]
            },
            "required": true,
            "name": "principalType",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "operationId": "deleteBase1"
      },
      "patch": {
        "description": "Update a base collaborator",
        "tags": [
          "base"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "invitationId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "baseId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "principalId": {
                    "type": "string"
                  },
                  "principalType": {
                    "type": "string",
                    "enum": [
                      "user",
                      "department"
                    ]
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "creator",
                      "editor",
                      "commenter",
                      "viewer"
                    ]
                  }
                },
                "required": [
                  "principalId",
                  "principalType",
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "operationId": "modifyBase1"
      }
    },
    "/base/duplicate": {
      "post": {
        "description": "duplicate a base",
        "tags": [
          "base"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "baseId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromBaseId": {
                    "type": "string",
                    "description": "The base to duplicate"
                  },
                  "spaceId": {
                    "type": "string",
                    "description": "The space to duplicate the base to"
                  },
                  "withRecords": {
                    "type": "boolean",
                    "description": "Whether to duplicate the records"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the duplicated base"
                  }
                },
                "required": [
                  "fromBaseId",
                  "spaceId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns information about a successfully duplicated base.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "spaceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
[...]
